* {
  font-family: "Open Sans", sans-serif;
}

header {
  background-color: #4a2372;
  color: white;
  padding: 3px;
}

body {
  background-color: #f4f1f5;
}

.code-journal-header {
  font-size: 16px;
}

.nav {
  font-weight: normal;
  font-size: 13px;
  padding: 0.5px 25px;
}

.new-entry,
.title-entries {
  font-size: 22px;
}

.code-journal-header,
.new-entry,
.title-entries {
  font-family: "Proza Libre", sans-serif;
  padding-left: 10px;
}

.empty-photo {
  object-fit: cover;
  width: 100%;
  height: 250px;
}

.kontainer,
.label-div {
  padding: 5px 0;
}

.label-div > label {
  font-weight: bold;
  font-size: 11px;
}

.input-div > input {
  height: 26px;
}

textarea.notes-input {
  resize: none;
}

.input-div > input,
textarea {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #d7cfcf;
}

.submit-save {
  text-align: right;
  margin: 5px 0;
}

.save-button,
.button {
  background-color: #4a2372;
  color: white;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  padding: 10px 15px;
  font-size: 12px;
}

.btn-div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.button:hover {
  cursor: pointer;
}

.entry-list {
  padding: 0;
  margin: 0;
}

.entry {
  list-style: none;
  margin-bottom: 1rem;
}

.entry-title {
  font-size: 0.9em;
  line-height: 0.5em;
}

.entry-notes {
  font-size: 0.8em;
}

nav > a,
.btn-div > a {
  color: white;
  text-decoration: none;
}
