* {
  font-family: sans-serif;
}

header {
  background-color: #4a2372;
  color: white;
  padding: 3px;
}

body {
  background-color: #f4f1f5;
}

.code-journal-header {
  font-size: 16px;
}

.nav {
  font-weight: normal;
  font-size: 14px;
}

.new-entry, {
  font-size: 22px;
}

.code-journal-header,
.new-entry,
.nav {
  font-family: "Proza Libre", sans-serif;
  padding: 0 0.75rem;
}

.empty-photo {
  object-fit: cover;
  width: 100%;
  height: 250px;
}

.kontainer,
.label-div {
  padding: 5px 0;
}

.label-div > label {
  font-weight: bold;
  font-size: 13px;
}

.input-div > input {
  height: 26px;
}

textarea.notes-input {
  resize: none;
}

.input-div > input,
textarea {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #d7cfcf;
}

.submit-save {
  text-align: right;
  margin: 5px 0;
}

.button {
  background-color: #4a2372;
  color: white;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  padding: 10px 15px;
  font-size: 12px;
}

a {
  color: white;
  text-decoration: none;
}

.button-div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.icon-edit {
  color: #4a2372;
}

.button:hover,
.icon-edit {
  cursor: pointer;
}

.entry-list {
  padding: 0;
  margin: 0;
}

.entry {
  list-style: none;
  margin: 30px;
}

.entry-title {
  line-height: 1;
  font-size: 16px;
}

.entry-notes {
  font-size: 14px;
}

nav > a,
.button-div > a {
  color: white;
  text-decoration: none;
}

.delete-modal-div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
}

.delete-modal {
  width: 300px;
  border-radius: 4px;
  background-color: #f4f1f5;
  padding: 15px 20px;
}

.delete-statement {
  font-size: 16px;
  padding-bottom: 5px;
  width: 100%;
}

.cancel {
  background-color: #cecece;
  color: black;
}

.confirm {
  background-color: #f93d3b;
  color: white;
}

.left {
  justify-content: flex-start;
}

.right {
  justify-content: flex-end;
}

.center {
  text-align: center;
}

.delete-button-div {
  display: flex;
}

.delete-button {
  font-size: 13px;
  font-weight: normal;
  margin-top: 10px;
  color: #ed470b;
}

.delete-button-div > a {
  color: #ed470b;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #00000080;
}
