{
  "root": true,
  "env": {
    "node": false,
    "browser": true
  },
  "parserOptions": {
    "sourceType": "script"
  },
  "extends": [
    "eslint:recommended",
    "standard"
  ],
  "rules": {
    "arrow-parens": [
      "error",
      "as-needed"
    ],
    "curly": [
      "error",
      "multi-line"
    ],
    "no-console": [
      "error",
      {
        "allow": [
          "warn",
          "error"
        ]
      }
    ],
    "no-var": "off",
    "padded-blocks": "off",
    "semi": [
      "error",
      "always"
    ],
    "space-before-function-paren": [
      "error",
      {
        "anonymous": "always",
        "named": "never",
        "asyncArrow": "always"
      }
    ]
  },
  "overrides": [
    {
      "files": [
        "js/main.js"
      ],
      "globals": {
        "data": "readonly"
      }
    }
  ]
}
